# Turborepo
.turbo

# Build outputs
dist
build
.next
out

# Dependencies
node_modules

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Cache
.cache
.eslintcache
*.tsbuildinfo
